useDynLib(RcppML)
import(Rcpp)
import(Matrix)
importFrom(methods, as)
importFrom(methods, is)
importFrom(stats, runif)
export(nnls)
export(project)
export(mse)
export(nmf)
export(nmf2)
export(bipartition)
export(dclust)